/* override default body padding and margin */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial, Helvetica, sans-serif";
}

.topnav {
  /* position: fixed; */
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
  /* extra padding on the right to give space to "page editor" */
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  float: left;
}

.navlink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0px 15px;
  height: 65px;
}

.navlink:hover {
  background-color: #4fa3ab;
  text-decoration: underline;
}

.logo {
  width: 60px;
  height: 50px;
}

.header{
  /* align-items: center; */
}

.HeadLogo {
  width: 7%;
  top: 3%;
  padding-left: 29%;
}

.line{
  border-left: 5px solid #4fa3ab; 
  /* need to make 5px into % because it is not responsive */
  height: 13%;
  position: absolute;
  left: 50%;
  top: 3%;
}

.headertitle{
  position: absolute;
  font-size: 250%;
  left: 38%;
  top: 4%;
}

.headertext{
  position: absolute;
  font-size: 250%;
  left: 52%;
  top: 4%;
}