.centre {
  text-align: center;
}

rect {
  transition: fill 0.2s ease-in-out;
}

rect:hover {
  fill: blue;
}


text {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
  fill: white;
  text-anchor: middle;
  -o-table-baseline: central;
}

text:hover {
  fill: #333;
}

svg {
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: visible;
}

svg:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
