
.line{
  border-left: 5px solid #4fa3ab; 
  height: 13%;
  position: absolute;
  left: 50%;
  top: 3%;
}

.headertitle{
  position: absolute;
  font-size: 250%;
  left: 38%;
  top: 4%;
}

.headertext{
  position: absolute;
  font-size: 250%;
  left: 52%;
  top: 4%;
}
.HeadLogo {
  width: 7%;
  top: 3%;
  padding-left: 29%;
}
.border {
  padding-left: 1%;
  border: solid 5px #4fa3ab;
  background-color: #333;
  color: white;
  width: 500px;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
}