h3 {
    border: solid 3px #4fa3ab;
    background-color: #333;
    color: white;
    text-decoration: underline;
}
div {
    width: 500px;
    margin: auto;
}
.physical {
    border: solid 5px #4fa3ab;
    background-color: #333;
    color: white;
}