#BiggerAvatar {
    width: 175px;
    height: 175px;
    margin-top: 8%;
    margin-left: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Team {
    width: 150px;
    height: 150px;
    display: inline-block;
    padding-left: 12%;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}