body {
    height: 125vh;
}

h1 {
    font-size: 400%;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 1%;
  }

h2{
    text-align: center;
    margin-bottom: 1px;
}

h3 {
    font-size: 16px;
}

.Team {
    width: 175px;
    height: auto;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.teamImages { 
    display: flex; 
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-member {
    width: 225px;
    margin: 45px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.team-member img {
    width: 100%;
    margin-bottom: 5%;
}

.team-member h3 {
    display: none;
}


.team-member:hover {
    transform: scale(1.05);
}

.team-member:hover {
    background-color: rgba(120, 120, 120, 0.5);
    filter: grayscale(100%);
    box-shadow: 2px 2px 5px grey;;
}


.team-member:hover h3{
    display:contents;
}




