body {
    height: 155vh;
}

.inputSection {
    background: #333;
    position: absolute;
    left: 30%;
    transform: translate(-50% -50%);
    display: none;
    flex-direction: column;
    border: 0.7px solid rgb(98, 98, 98);
    padding-bottom: 1%;
    margin-bottom: 1%;
    width: 40%;
    border: 5px solid #4fa3ab;
    border-radius: 15px;
    
}

::placeholder {
    text-align: center;
}

.prompt {
    margin-top: 10%; 
    color: white;
}

.top {
    padding-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start{
    border: 2px solid #4fa3ab;
    background-color: #333;
    color: white;
    border-radius: 7px;
    display: flex;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}

.middle {
    display: flex;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center
}

.bottom {
    display: flex;
    padding-right: 45%;
    padding-left: 42%;
}

.next  {
    background-color: #333;
    color: white;
    border: 2px solid #4fa3ab;
    height: 25px;
    border-radius: 7px;   
}

.skip {
    background-color: #333;
    color: white;
    border: 2px solid #4fa3ab;
    border-radius: 7px;     
    margin-left: 10px;
}

button.next:hover,
.start:hover,
.skip:hover {
    background-color: #4fa3ab;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.top , .start {
    .next  {
        background-color: #333;
        color: white;
        border: 3px solid #4fa3ab;
        height: 40px;
        width: 65px;
        border-radius: 7px;  
        margin-top: 1px; 
    }   
}

input {
    border-radius: 5px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0.7px solid rgb(98, 98, 98);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    outline: none;
    height: 30px;
    width: 200px;
    text-align: center;
}

.section-indicator {
    color: white;
    position: absolute;
    margin-bottom: 4%;
    font-size: 18px;
    text-decoration: underline;

}

.user-inputs {
    font-size: 20px;
    background: #333;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(50% + 30%); 
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.7px solid rgb(98, 98, 98);
    padding: 1%;
    width: 40%;
    border: 5px solid #4fa3ab;
    border-radius: 15px;
}

.user-inputs div {
    color: white;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #666;
}

.user-inputs div:last-child {
    border-bottom: none;
}

.progress-bar {
    width: 80%;
    margin: 0 auto;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    margin-top: 20px;
}

.progress {
    height: 100%;
    width: 0%;
    background-color: #4fa3ab;
    border-radius: 10px;
    transition: width 0.5s ease;
}

h2 {
    margin-bottom: 2%;
}

